AUDIT_BASE_URL=http://127.0.0.1:4173
LIGHTHOUSE_BASE_URL=https://www.evochia.gr
LIVE_BASE_URL=https://www.evochia.gr
PAGESPEED_URL=https://www.evochia.gr/en/
PAGESPEED_STRATEGIES=mobile,desktop
PAGESPEED_API_KEY=
PAGESPEED_RETRIES=2
CRUX_API_KEY=
CRUX_ORIGIN=https://www.evochia.gr
CRUX_URLS=https://www.evochia.gr/en/,https://www.evochia.gr/en/contact/
CRUX_FORM_FACTORS=PHONE,DESKTOP
GSC_SITE_URL=
GSC_ACCESS_TOKEN=
GSC_SERVICE_ACCOUNT_JSON=
GSC_LOOKBACK_DAYS=28
GSC_INSPECTION_URLS=https://www.evochia.gr/en/,https://www.evochia.gr/el/,https://www.evochia.gr/en/contact/
ZAP_TARGET_URL=https://www.evochia.gr
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_LOCAL_IDENTIFIER=evochia-local
BROWSERSTACK_TEST_BASE_URL=http://127.0.0.1:4173
BROWSERSTACK_PUBLIC_BASE_URL=https://www.evochia.gr
